<!DOCTYPE html>
{% extends '12userlogin.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card text-center mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Forgot password</h5>
    <p class="card-text">Enter/copy the otp send to the registerd email id</p>

  <div>
      <form method="post" action="{% url 'passwordReset_verify_otp' user_id=user.id   %}">
          {% csrf_token %}
          <p class="confirmation">Enter otp</p>
          <input type="text" style="border:1px solid grey;border-radius:spx;" name="otp" required>
          <button type="submit">Verify otp</button>
      </form>
  </div>
  </div>
</div>

</body>
</html>
{% endblock %}