<!DOCTYPE html>
{% extends '0index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body" style="width:1000px;>
                  <h4 class="card-title">Rooms Name</h4>
                  <p class="card-description">
                    Add Room <code>Name</code>
                  </p>
                  <div class="table-responsive pt-3">
                    <table class="table table-bordered">
                      <thead>

                        <tr>
                          <th>id</th>
                            <th>Room Type</th>
                          <th>Room Name</th>
                          <th>Room Image</th>
                           <th>Room price</th>
                          <th>Room Description</th>


                            <th>Edit</th>

                           <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in pro %}
                        <tr >
                          <td>{{d.id}}</td>
                            <td>{{d.ROOMTYPE}}</td>
                            <td>{{d.ROOMNAME}}</td>

                            <td>
                                <img src="{{d.ROOMIMAGE.url}}" width="100px" height="100px">
                            </td>

                            <td>{{d.ROOMPRICE}}</td>
                            <td>{{d.ROOMDESCRIPTION}}</td>


                            <td>
                                <a href="{% url 'edit_room_number_page' Edit_id=d.id %}">
                            <button type="button" class="btn btn-info">Edit</button></a>
                            </td>

                            <td>
                                <a href="{% url 'delete_room_number_page' del_id=d.id %}" >
                                <button type="button" class="btn btn-danger">Delete</button>
                                   </a>
                               </td>


                        </tr>
                       {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
 {% for i in messages %}
  {% if i.tags == 'warning' %}
    <script>
        swal('{{i}}','','warning')
    </script>

  {% elif i.tags == 'error' %}
    <script>
        swal('{{i}}','','error')
    </script>
  {% elif i.tags == 'info' %}
    <script>
        swal('{{i}}','','info')
    </script>
  {% else %}
    <script>
        swal('{{i}}','','success')
    </script>
{% endif %}
{% endfor %}
{% endif %}

</body>
</html>
{% endblock %}